body{
    // background: rgb(2,0,36);
    // background: radial-gradient(circle, #020024 0%, #00a8ff6b 100%);
    background: rgb(0,168,255);
    background: radial-gradient(circle, #00a8ff 0%, #020024 100%);

}



//navbar class

.li-menu_desktop{
    padding-right:4rem;
  }
  .ul-menu_responsive{
      margin-top:-4px;
      position: relative;
  }

  .margin-menu_responsive{
    margin-left:74.7%;
    padding:0.5rem;
    position:absolute;
    top:67px;
    left:-6px;
   }
   
   .propsNavbar{
    height:80px;
    margin-top: -96px;
    position:fixed;
    z-index: 100;
    background: rgb(11,81,160);
    background: linear-gradient(7deg, rgba(11,81,160,1) 0%, rgba(2,0,36,1) 100%);
    font-size:15px;
    
  
   }
   








//cards



.alto-100{
    margin-top: 50rem;
}

.d-flex img{
    width: 80px;

}

.fondo-card{
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position:85% top;
}
.express-titulo{
    font-size: xx-large;
}

#card-seba-dev{
  background: #FF8C00;
}
.titulo-card-seba{
   font-size: 1rem ;
}
.subtitulo-card-seba{
    font-size: 1rem ;
}

#card-react{
    background: rgb(11,81,160);
    background: linear-gradient(174deg, rgba(11,81,160,1) 38%, rgba(0,255,255,1) 100%);
    border: none;
}
#card-nodejs{
 background: #9ACD32;
}
#card-sql{
    background: #F08080;

}
#card-express{
    color:black;
    background: #F5F5DC;
}




//media queries
// @media(min-width:375px){
    
// }
// @media(min-width:390px){
    
// }
// @media(min-width:410px){
    
// }
// @media(min-width:375px){
    
// }
// @media(min-width:375px){
    
// }





@media(min-width: 760px){

    

    //reloj responsive
    // .reloj{
    
    //     display:none;
    // }
    // .reloj div{
    //     display:none;
    // }
       .reloj-responsive{
        background: linear-gradient(#00a8ff,#020024);
        border: 2px solid #000;
        display:inline-flex;
        position: fixed;
        margin-left:670px;
        border-radius:0.5rem;
        
    }
    .reloj-responsive div {
        color: #fff;
        padding: 3px 7px;
        font-size: 10px;
        font-family: monospace;
       
    }
    .hora-res{
     border-right:1px solid #000;
    }
    .minutos-res{
        border-right:1px solid #000;
    }
}





@media (min-width: 970px) {
    .alto-100 {
          height:100vh;
      };
  
    .margin-menu_responsive{
        padding-right: 1rem;
        position: relative;
        top: 4px;
        margin-left: 1rem;
       
         };

     .ul-menu_responsive{
       
      margin-left:7rem;
     }
     
     .font-size_a_lg{
       font-size:1.5rem !important;
       background-color: #0B51A0;
       transition: background-color 3s;
       border-radius: 50%;
       box-shadow: 10px 5px 5px #020024;
     }
    
    .font-size_a_lg:hover{
    background: radial-gradient(circle, #0B51A0 , #020024 100%);
    cursor:pointer;
  
    }

     .font-s-title{
       font-size:2rem !important
     }




     //reloj

 .reloj-responsive{
    display:none;
 }    
.reloj-responsive div{
    display: none;
}


.reloj{
    background: linear-gradient(#00a8ff,#020024);
    border: 2px solid #000;
    display:inline-flex;
    position: fixed;
    margin-left:1120px;
    border-radius:0.5rem;
}
.reloj div {
    color: #fff;
    padding: 5px 9px;
    font-size: 20px;
    font-family: monospace;
   
}
.hora{
 border-right:1px solid #000;
}
.minutos{
    border-right:1px solid #000;
}

      
  }





//content home

.fila{
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: transparent;
}
.cont-1_section1{
    
    margin-top: 5rem;
    padding:10px;
}

.first-content{
    font-size: 1.6rem;
    color:rgba(255,255,255,1);
    margin-top: 20rem;
    }
.first-content-p1{
   margin-left:11.4rem;
   margin-top: 2.4rem;
}
.first-content-p2{
 margin-top: 0.5rem;
}



//info proyect card

.tarjeta-info-proyect{
    width: 100%;
    height:22rem;
    border-radius: 0.5rem;
    background-color: #733FC8;
    padding:1.5rem;
    box-shadow: 1rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}
.tarjeta-info-font{
    color: #fff;
    font-size: 1.5rem;
  
}
.margin-special{
    margin-top:8rem;
}

.tarjeta-info-a{
    color:#230c47;
    text-decoration: none;
}
.tarjeta-sql-info{
    width: 100%;
    height:5rem;
    border-radius: 0.5rem;
    background-color: #F08080;
    padding:1.5rem;
    box-shadow: 1rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    padding-left: 3.5rem;
    font-size: 1.22rem;
    padding-bottom: 4rem;
    
}

.tarjeta-info-sql-a{
color: pink;
text-decoration: none;
transition: color 1s;
font-size: 1.54rem;
}
.tarjeta-info-sql-a:hover{
    color: pink;
}

#tarjeta-info-bootstrap{
    position:absolute;
    left: 23.5rem;
    width:5rem;
    height:5rem;
    transition: width 1s, height 1s;
    
}
#tarjeta-info-bootstrap:hover{
    width: 6rem;
    height: 6rem;
}

#tarjeta-info-imgMas{
    position:absolute;
    left: 35rem;
}

#tarjeta-info-imgSass{
    position:absolute;
    left: 47rem;
    width:5rem;
    height:5rem;
    transition: width 1s, height 1s ;
}
#tarjeta-info-imgSass:hover{
    width: 6.5rem;
    height: 6.5rem;
}



//content history

.history-text{
    font-size: 1.6rem;
}
.history-text-a{
    text-decoration: none;
    color:rgb(18, 2, 47);
    font-size: 1.6rem;
    transition: color 0s;
}
.history-text-a:hover{
    color:rgb(18, 2, 47);
}









//footer

.style-footer{
    margin: 100% 1rem 1rem 1rem;
}
.style-row-footer{
    width:100%;
 

}
#linkedin-img{
  width: 4rem;
  height: 4rem;
  margin-right:0.5rem;
}
#github-img{
    width: 4rem;
    height: 4rem;
    margin-left:0.5rem;
}

// ids

#nav-first-li-a{
    padding-left: 2rem;
    padding-right: 2rem;
}
#nav-second-li-a{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#nav-thirt-li-a{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}


#img-welcome{
    width:18rem;
    height: 19rem;
    position: absolute;
    left:29rem;
    transition: width 1s, height 1s;
}
#img-welcome:hover{
    width: 19rem;
    height: 20rem;

}


#seb1{
    position: absolute;
    top: 27.7rem;
    right: 58rem;
    margin:10px;
    height: 10rem;
    width:10rem;
}

#title-myname{
     color: #fff;
     font-size: 2rem !important;
     transition:color 0.2s, font-weight 2.5s;
}

#title-myname:hover {
    color:#1a174c !important;
    font-weight: 300 !important;
}












//key frames





//mixins

//variables sass

  
$font-family-sans-serif: 'Barlow semi Condensed', sans-serif;
$info: #0B51A0;
$primary:#733FC8;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;





// Revisar el archivo node_modules\bootstrap\scss\_variables.scss
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

@import "../node_modules/bootstrap/scss/bootstrap";